[submodule "snntorch"]
	path = snntorch
	url = ../snntorch
[submodule "pytorch-eventprop"]
	path = pytorch-eventprop
	url = ../pytorch-eventprop
[submodule "yin_yang_data_set"]
	path = yin_yang_data_set
	url = ../yin_yang_data_set
[submodule "pytorch-meta"]
	path = pytorch-meta
	url = ../pytorch-meta
[submodule "snn_maml"]
	path = snn_maml
	url = ../snn_maml
